APP_URL=http://localhost
APP_PORT=3000
DATABASE_URL="mysql://root:[your-password]@localhost:3306/[your-database]" // substitua pelos mesmo valores anteriores
MYSQL_ROOT_PASSWORD=[your-password] # replace
MYSQL_DATABASE=[your-database] # replace